.headerbg{
    width: 100%;
    height: 100px;
    background-color: #e18d29;
    top: 0;
    display: flex;
    justify-content: center;
}
.header{
    background-color: #e18d29;
    display: block;
    height: 100px;
    width: 1920px;
    position: relative;
    text-align: center;
    margin: 0;
}
.logo{
    margin-left: 20px;
    mix-blend-mode: multiply;
    float:left;
}
.text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    float:left;
    margin-top: 10px;
    margin-left: 50px;
    word-break: normal;
    width: 60px;
}
.headerContent{
    float: right;
    height: 110px;
    width:1000px;
    display: inline-block;
}