.footerbg{
    width: 100%;
    height: 200px;
    background-color:#ffaa00;
    bottom: 0;
    display: flex;
    position: fixed;
    justify-content: center;
}
.footer {
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 200px;
    width:1920px;
    background-color:#ffaa00;
    display: flex;
    vertical-align: middle;
}
.content{
    height: 200px;
    width: 920px;
    display: flex;
}
.footerImg{
    width: 110px;
    height:110px;
    float: left;
    margin-top: 45px;

}
.footerText{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 150px;

}
.share{
    float:right;
    height: 100px;
    width: 120px;
    margin-left: 140px;
    right: 0;
    margin-top: 50px;
}
.shareText{
    text-align: center;
    color: white;
}
.imag{
    margin-top: 10px;
    margin-left: 10px;
    width: 44px;
    height: 44px;
}